<!DOCTYPE html>
<html lang="zh">

<head>
<meta charset="{{ resource.meta.charset }}">
<meta name="viewport" content="{{ resource.meta.viewport }}">
<title>{% block title %}{{ resource.meta.title }}{% endblock %}</title>
<meta name="author" content="{{ resource.meta.author }}">
<meta name="description" content="{{ resource.meta.description }}">

<link rel="stylesheet" href="{{ media_url('css/bootstrap.css') }}">
<link rel="stylesheet" href="{{ media_url('css/bootstrap-responsive.css') }}">
<link rel="stylesheet" href="{{ media_url('css/king-run.css') }}">

</head>

{% from "macros.j2" import render_navbar with context %}

<body style="padding-top: 5px;">

<!-- NAVBAR
    ================================================== -->
<div class="navbar-wrapper">
  <div class="container">
    <!-- logo -->
    <div id="logo" style="padding-bottom: 5px;">
      <img src="{{ media_url('img/logo.png') }}">
      <img src="{{ media_url('img/title.png') }}">
      <div class="btn-group pull-right">
        <a class="btn" href="#" onclick="javascript:home(this,window.location);">设为首页</a>
        <a class="btn" href="#" onclick="javascript:favorite(window.location, document.title);">加入收藏夹</a>
        <a class="btn" href="http://t.qq.com/kingrun-bhc" target="_blank">臻源微博</a>
      </div>
    </div>
    <!-- navigation -->
    <div class="navbar" style="margin-bottom: 1px;">
      <div class="navbar-inner">
        {{ render_navbar(menu, 'nav', resource.meta.menunode) }}
        <form class="navbar-search pull-right">
          <i class="icon-search"></i>
          <input type="text" class="search-query" placeholder="输入您想查找的内容">
        </form>
      </div>
    </div>
  </div>
</div>
<!-- /.navbar-wrapper -->

<!-- BODY
    ================================================== -->
<div class="body-wrapper">
  {% block main %}{% endblock %}
</div>
<!-- /.body-wrapper -->

<!-- FOOTER
    ================================================== -->
<div class="footer-wrapper">
  <div class="container">
    <hr class="featurette-divider">

    <footer>
      <p class="pull-right">
        <a href="#">返回顶部</a>
      </p>
      <p>
        沪ICP备123456789号<br /> &copy; 2012 臻源美容调理养生馆 &middot; <a href="#">Privacy</a>
      </p>
    </footer>
  </div>
</div>
<!-- /.footer-wrapper -->

<!-- javascript
  ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
{% block javascript_framework %}
{% include "javascript-framework.j2" %}
{% endblock %}

<!-- Statistic analysis -->
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-37654855-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

<script type="text/javascript">
{% block javascripts %}{% endblock %}
</script>

</body>

</html>
