{% extends "base.j2" %}

{% block main %}
<div class="container marketing">
  <div id="iCarousel" class="carousel slide">
    <div class="carousel-inner">
      <div class="item active">
        <img src="{{ media_url('img/slides/slide-01.jpg') }}" alt="" style="width: 100%">
        <div class="container">
          <div class="carousel-caption"></div>
        </div>
      </div>
      <div class="item">
        <img src="{{ media_url('img/slides/slide-02.jpg') }}" alt="" style="width: 100%">
        <div class="container">
          <div class="carousel-caption"></div>
        </div>
      </div>
      <div class="item">
        <img src="{{ media_url('img/slides/slide-03.jpg') }}" alt="" style="width: 100%">
        <div class="container">
          <div class="carousel-caption"></div>
        </div>
      </div>
    </div>
    <a class="left carousel-control" href="#iCarousel" data-slide="prev">&lsaquo;</a>
    <a class="right carousel-control" href="#iCarousel" data-slide="next">&rsaquo;</a>
  </div>

  {% block content %}{% endblock %}

</div>
{% endblock %}

{% block javascripts %}
  !function ($) {
    $(function(){
      // carousel demo
      $('#iCarousel').carousel()
    });
  }(window.jQuery);

{% endblock %}
